<a href="https://colab.research.google.com/github/sleevetug/Eloise/blob/main/Copy_of_1_Data_retrieval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Examples of data being retrieved from a range of sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [6]:
import pandas as pd

def get_data():
  datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
  #  change the line below to look at other tables, add the line print(len(datatables)) to see how many tables there are
  print(len(datatables))
  df = datatables[2]  #Glasgow population data
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

24

,Destinations from Glasgow,Destinations from Glasgow.1,Unnamed: 2
0,"Dumbarton, Helensburgh, Crianlarich Aberfoyle,...","Dumbarton, Helensburgh, Crianlarich Aberfoyle,...",NaN
1,"Dumbarton, Helensburgh, Crianlarich","Aberfoyle, Callander, Crianlarich","Cumbernauld, Stirling (30 mi or 48 km), Falkir..."
2,NaN,NaN,NaN
3,"Erskine, Paisley (9.3 mi or 15 km), Renfrew, P...",Glasgow,"Coatbridge, Airdrie, Livingston (30 mi or 48 k..."
4,NaN,NaN,NaN
5,"Kilmarnock, Prestwick, Ayr","East Kilbride (9.9 mi or 16 km), Strathaven, C...","Motherwell, Hamilton, Lanark, Wishaw, Carluke"

## From a local file
---

You can upload from a local file using the code below.  uploaded = file.upload() will open a file chooser and you can choose the data file from there.  After that, just use the file name to read from it.  

The file exists while the notebook is running, so should only be uploaded once.  If you need to access again, cancel the upload.

For this exercise you will need a copy of an Excel file.  To get a copy of this file "public_use-talent-migration.xlsx" go to this page: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx and click on the Download button.  You will now have a copy in your Downloads folder.

In [7]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  uploaded = files.upload()
  df = pd.read_excel(uploaded['public_use-talent-migration.xlsx'],sheet_name="Industry Migration")
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

Saving public_use-talent-migration.xlsx to public_use-talent-migration.xlsx

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [8]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

,yyyy,mm,tmax (degC),tmin (degC),af (days),rain (mm),sun (hours),status
0,1959,1,4,-2,25,40.9,54.1,NaN
1,1959,2,6.6,2.1,10,41.8,17.8,NaN
2,1959,3,10.6,4.2,0,50.9,85.7,NaN
3,1959,4,13,5.2,0,76.3,125.1,NaN
4,1959,5,18.1,7.9,0,24,222,NaN
...,...,...,...,...,...,...,...,...
741,2020,10,12.9*,7.1*,0*,185.3*,76.8*,Provisional
742,2020,11,10.6*,6.0*,0*,142.4*,29.3*,Provisional
743,2020,12,6.9*,2.6*,8*,131.0*,31.6*,Provisional
744,2021,1,4.9*,-0.2*,14*,132.2*,51.0*,Provisional
745,2021,2,7.0*,2.3*,8*,144.3*,58.8*,Provisional

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [9]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data. 

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [11]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['regions'])
df
print(json_data)
print(data_table)

[{'from': '2022-04-20T08:30Z', 'to': '2022-04-20T09:00Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 232, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 58.8}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 14.3}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 26.9}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 109, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 4.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.5}, {'fuel': 'gas', 'perc': 26.2}, {'fuel': 'nuclear', 'perc': 39.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 4.8}, {'fuel': 'solar', 'perc': 4.3}, {'fuel': 'wind', 'perc': 19.1}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 171, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 13.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 4.1}, {'fuel': 'gas', 'perc': 39.1}, {'fuel': 'nuclear', 'perc': 32.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 3.8}, {'fuel': 'wind', 'perc': 6.8}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 106, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 17.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 30}, {'fuel': 'gas', 'perc': 21.2}, {'fuel': 'nuclear', 'perc': 22.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 4.3}, {'fuel': 'wind', 'perc': 4.5}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 239, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 40}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 48.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 2.6}, {'fuel': 'wind', 'perc': 8.8}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 182, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.4}, {'fuel': 'gas', 'perc': 44.6}, {'fuel': 'nuclear', 'perc': 13.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 7.4}, {'fuel': 'solar', 'perc': 17.7}, {'fuel': 'wind', 'perc': 10.6}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 344, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 87.4}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 7.3}, {'fuel': 'wind', 'perc': 5.3}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 287, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 5.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0.4}, {'fuel': 'gas', 'perc': 71.1}, {'fuel': 'nuclear', 'perc': 3.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 12.2}, {'fuel': 'wind', 'perc': 6.9}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 296, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 9.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 72.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 8.3}, {'fuel': 'wind', 'perc': 10.1}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 191, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 8.6}, {'fuel': 'gas', 'perc': 39.8}, {'fuel': 'nuclear', 'perc': 17.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 11.1}, {'fuel': 'wind', 'perc': 22.5}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 180, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 45.7}, {'fuel': 'nuclear', 'perc': 31.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 20.8}, {'fuel': 'wind', 'perc': 1.7}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 278, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 70.2}, {'fuel': 'nuclear', 'perc': 8.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 18.1}, {'fuel': 'wind', 'perc': 2}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 208, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.2}, {'fuel': 'gas', 'perc': 46.8}, {'fuel': 'nuclear', 'perc': 10.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 13.7}, {'fuel': 'wind', 'perc': 17.5}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 171, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 22.9}, {'fuel': 'gas', 'perc': 37.5}, {'fuel': 'nuclear', 'perc': 3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 14.3}, {'fuel': 'wind', 'perc': 21.8}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 219, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 8.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 6.4}, {'fuel': 'gas', 'perc': 50.7}, {'fuel': 'nuclear', 'perc': 12}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.3}, {'fuel': 'solar', 'perc': 11.1}, {'fuel': 'wind', 'perc': 10.9}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 133, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 32.7}, {'fuel': 'nuclear', 'perc': 28.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 8.9}, {'fuel': 'solar', 'perc': 4.2}, {'fuel': 'wind', 'perc': 22.7}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 324, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 82.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.5}, {'fuel': 'solar', 'perc': 8.3}, {'fuel': 'wind', 'perc': 7}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 217, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 5.3}, {'fuel': 'gas', 'perc': 50.8}, {'fuel': 'nuclear', 'perc': 13}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.3}, {'fuel': 'solar', 'perc': 10.2}, {'fuel': 'wind', 'perc': 11.9}]}]}]
{'from': '2022-04-20T08:30Z', 'to': '2022-04-20T09:00Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 232, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 58.8}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 14.3}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 26.9}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 109, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 4.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.5}, {'fuel': 'gas', 'perc': 26.2}, {'fuel': 'nuclear', 'perc': 39.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 4.8}, {'fuel': 'solar', 'perc': 4.3}, {'fuel': 'wind', 'perc': 19.1}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 171, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 13.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 4.1}, {'fuel': 'gas', 'perc': 39.1}, {'fuel': 'nuclear', 'perc': 32.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 3.8}, {'fuel': 'wind', 'perc': 6.8}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 106, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 17.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 30}, {'fuel': 'gas', 'perc': 21.2}, {'fuel': 'nuclear', 'perc': 22.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 4.3}, {'fuel': 'wind', 'perc': 4.5}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 239, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 40}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 48.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 2.6}, {'fuel': 'wind', 'perc': 8.8}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 182, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.4}, {'fuel': 'gas', 'perc': 44.6}, {'fuel': 'nuclear', 'perc': 13.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 7.4}, {'fuel': 'solar', 'perc': 17.7}, {'fuel': 'wind', 'perc': 10.6}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 344, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 87.4}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 7.3}, {'fuel': 'wind', 'perc': 5.3}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 287, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 5.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0.4}, {'fuel': 'gas', 'perc': 71.1}, {'fuel': 'nuclear', 'perc': 3.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 12.2}, {'fuel': 'wind', 'perc': 6.9}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 296, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 9.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 72.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 8.3}, {'fuel': 'wind', 'perc': 10.1}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 191, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 8.6}, {'fuel': 'gas', 'perc': 39.8}, {'fuel': 'nuclear', 'perc': 17.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 11.1}, {'fuel': 'wind', 'perc': 22.5}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 180, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 45.7}, {'fuel': 'nuclear', 'perc': 31.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 20.8}, {'fuel': 'wind', 'perc': 1.7}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 278, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 70.2}, {'fuel': 'nuclear', 'perc': 8.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 18.1}, {'fuel': 'wind', 'perc': 2}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 208, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.2}, {'fuel': 'gas', 'perc': 46.8}, {'fuel': 'nuclear', 'perc': 10.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 13.7}, {'fuel': 'wind', 'perc': 17.5}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 171, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 22.9}, {'fuel': 'gas', 'perc': 37.5}, {'fuel': 'nuclear', 'perc': 3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 14.3}, {'fuel': 'wind', 'perc': 21.8}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 219, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 8.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 6.4}, {'fuel': 'gas', 'perc': 50.7}, {'fuel': 'nuclear', 'perc': 12}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.3}, {'fuel': 'solar', 'perc': 11.1}, {'fuel': 'wind', 'perc': 10.9}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 133, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 32.7}, {'fuel': 'nuclear', 'perc': 28.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 8.9}, {'fuel': 'solar', 'perc': 4.2}, {'fuel': 'wind', 'perc': 22.7}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 324, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 82.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.5}, {'fuel': 'solar', 'perc': 8.3}, {'fuel': 'wind', 'perc': 7}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 217, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 5.3}, {'fuel': 'gas', 'perc': 50.8}, {'fuel': 'nuclear', 'perc': 13}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.3}, {'fuel': 'solar', 'perc': 10.2}, {'fuel': 'wind', 'perc': 11.9}]}]}

### Exercise - upload a file from your local drive

Visit the Kent and Medway Air Quality site: https://kentair.org.uk/

Collect a data file containing data on Ozone levels in Dover:

Open the site
Go to the Data page  
Launch the data selector tool  
Select:
*  Automatic monitoring data
*  Measurement data and simple statistics
*  Ozone
*  Daily mean
*  This month
*  Thurrock
*  Thurrock

Click on Download CSV

This should be downloaded into your Downloads folder.

NOW

Write a function that will allow you to upload the file and then read its contents into a dataframe.

To read an uploaded CSV file (which will be in bytes format) use:

```
df = pd.read_csv(io.BytesIO(uploaded['your filename']))
```


Display the dataframe and compare the contents with the output on the site you took the data from.

In [14]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  !rm data-selector-export.csv
  uploaded = files.upload()
  df = pd.read_csv(io.BytesIO(uploaded['data-selector-export.csv']))
  return df

get_data()

Saving data-selector-export.csv to data-selector-export.csv

    Unnamed: 0  Thurrock Unnamed: 2
0         Date     Ozone     Status
1   01/04/2022  71.56399    P µg/m³
2   02/04/2022  59.79616    P µg/m³
3   03/04/2022  52.67816    P µg/m³
4   04/04/2022  53.31014    P µg/m³
5   05/04/2022  55.58024    P µg/m³
6   06/04/2022  77.14212    P µg/m³
7   07/04/2022  75.13810    P µg/m³
8   08/04/2022  44.20042    P µg/m³
9   09/04/2022  43.06554    P µg/m³
10  10/04/2022  54.64060    P µg/m³
11  11/04/2022  54.19627    P µg/m³
12  12/04/2022  51.84662    P µg/m³
13  13/04/2022  52.02956    P µg/m³
14  14/04/2022  37.93493    P µg/m³
15  15/04/2022  36.47142    P µg/m³
16  16/04/2022  47.35630    P µg/m³
17  17/04/2022  53.07730    P µg/m³
18  18/04/2022  52.27902    P µg/m³
19  19/04/2022  53.74507    P µg/m³

# ACTIVITIES

RUN ALL THE CODE CELLS ABOVE TO SEE WHAT THEY DO AND WHAT DATA THEY GET FOR YOU.

Now have a go at opening a few data sets yourself.

### Exercise 1
---

*  Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

*  Find a dataset that is a CSV file, copy the code above (for online CSV) into the code cell below

*  Run the code to open the data.

In [15]:
import pandas as pd                                                                                                     #Python-based data analysis toolkit imported using import pandas as pd. This is to read data, in this case an online source.
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"    #URL of the online CSV file containing the data I want to display and look at
df = pd.read_csv(url)                                                                                                   #Dataframe will contain and display the data from the csv url
df                                                                                                                      #Display dataframe

,yyyy,mm,tmax (degC),tmin (degC),af (days),rain (mm),sun (hours),status
0,1959,1,4,-2,25,40.9,54.1,NaN
1,1959,2,6.6,2.1,10,41.8,17.8,NaN
2,1959,3,10.6,4.2,0,50.9,85.7,NaN
3,1959,4,13,5.2,0,76.3,125.1,NaN
4,1959,5,18.1,7.9,0,24,222,NaN
...,...,...,...,...,...,...,...,...
741,2020,10,12.9*,7.1*,0*,185.3*,76.8*,Provisional
742,2020,11,10.6*,6.0*,0*,142.4*,29.3*,Provisional
743,2020,12,6.9*,2.6*,8*,131.0*,31.6*,Provisional
744,2021,1,4.9*,-0.2*,14*,132.2*,51.0*,Provisional
745,2021,2,7.0*,2.3*,8*,144.3*,58.8*,Provisional

### Exercise 2
---
Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

* Find a dataset that is an Excel file
* Copy the code above (for Excel files on Github) into the code cell below
* Change the line
```
df = pd.read_excel(url,sheet_name="Industry Migration") 
```
to 
```
df = pd.read_excel(url)
```
This will then open the first sheet in the Excel file, rather than a named sheet.

* Run the code to open the data.

In [16]:
import pandas as pd                                                                                             #Python-based data analysis toolkit imported using import pandas as pd. This is to read data, in this case an online source.
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true"     #URL of the data excel file on Github I want to pull data from
df = pd.read_excel(url)                                                                                         #Dataframe = the first sheet in the Excel file
df                                                                                                              #Displays the dataframe

   State  County  Population   Age  Income
0     TX     1.0        72.0  34.0    65.0
1     TX     2.0        33.0  42.0    45.0
2     TX     5.0        25.0  23.0    46.0
3     TX     6.0        54.0  36.0    65.0
4     TX     7.0        11.0  42.0    53.0
5     TX     8.0        28.0  25.0    62.0
6     TX     9.0        82.0  35.0    66.0
7     TX    10.0         5.0  40.0    75.0
8     MD    11.0        61.0  27.0    22.0
9     MD     2.0         5.0  23.0    69.0
10    MD     4.0        98.0  25.0    73.0
11    MD     3.0        64.0  29.0    75.0
12    MD     2.0        36.0  24.0    65.0
13    MD     1.0        24.0  25.0    66.0
14    MD     5.0        34.0  31.0    78.0
15    MD     6.0        89.0  22.0    81.0
16    MD     8.0        21.0  25.0    73.0
17    MD     7.0        21.0  30.0    62.0

### Exercise 3
---
*  Copy the code from the API delivered in JSON format
*  Change the URL to add /england to the end of it
*  Run the code to see the data for England only
*  Change it again to show data for Scotland, (/scotland)
*  Change it again to show data for Wales

In [26]:
import pandas as pd                                                              #Python-based data analysis toolkit imported using import pandas as pd. This is to read data, in this case an online source.
import requests                                                                  #Allows me to make HTTP requests

url = "https://api.carbonintensity.org.uk/regional/wales"                        #url = the url of the data I wish to access and analyse - I added the region after the / to specify and select data.
json_data = requests.get(url).json()['data']                                     #The data is stored in a dictionary format, I'm requesting to get the key 'data' and the paired values from the url 
data_table = json_data[0]                                                        #The first table in the list = [0]
df = pd.json_normalize(data_table['data'])                                       #df = normalizing semi-structured JSON data into a flat table
df                                                                               #calling data frame (df)

,from,to,generationmix,intensity.forecast,intensity.index
0,2022-04-20T09:00Z,2022-04-20T09:30Z,"[{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coa...",317,very high